body{
color:rgb(13, 63, 109);
blackground: rgb(69, 170, 173);
margin: 0px;
font-family : "Alfa Slab One" , sans-serif;
margin-bottom:100px; 
}

header{
    border-bottom: solid 2px rgb(184, 28, 28);
    padding: 20px;
    font-size: 32px ;
    color:rgb(0, 0, 0);
}
.chamada{
    blackground: rgb(197, 9, 41);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;

}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
} 

p{
font-size: 20px;
} 
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid red;
}
.categoria-videos h2{
   color: aqua;
}